@import '../../assets/styles/abstracts/_variables';

@mixin universal {
  padding: 1em;
  border-radius: 2em;
  border: none;
}

.blue {
  color: $base-white;
  background-color: $alternative-a700;
  @include universal;
}

.dark-blue {
  color: $base-white;
  background-color: $alternative-a900;
  @include universal;
}

.light-red {
  color: $base-black;
  background-color: $primary-p500;
  @include universal;
}

.black {
  color: $base-white;
  background-color: $base-black;
  @include universal;
}

.white {
  color: $base-black;
  background-color: $base-white;
  @include universal;
}
