@use '../../assets/styles/abstracts' as *;

.view {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.viewHeader {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  img {
    display: block;
    max-width: 25%;
  }
}

.form {
  padding: 1em;
  border: solid;
  display: grid;
  text-align: center;
  margin-inline: auto;
}

.error {
  &Span {
    color: red;
  }
  &Input {
    outline: solid red;
  }
}

.inputGroup {
  display: grid;
}

.inputGroup,
.passwordReset {
  text-align: left;
}
