@import "../../assets/styles/abstracts/variables";

@mixin icons {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.icon {
  @include icons;
  display: flex;
}

.blue {
  color: $color-primary;
}

.navy {
  color: $color-primary-dark;
}

.purple {
  color: $color-secondary;
}

.orange {
  color: $color-tone-shift;
}

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

.grey {
  color: $color-mid-tone;
}

.red {
  color:$color-red;
}

.smaller {
  font-size: 8px;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 25px;
}

.larger {
  font-size: 32px;
}
