@import '../../assets/styles/abstracts/variables';

@mixin icons {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.icon {
  @include icons;
  
  display: flex;
}

.blue {
  color: $alternative-a700;
}

.navy {
  color: $alternative-a900;
}

.white {
  color: $base-white;
}

.black {
  color: $base-black;
}

.grey {
  color: $grayscale-g500;
}

.red {
  color: $primary-p900;
}

.smaller {
  font-size: 8px;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 25px;
}

.larger {
  font-size: 32px;
}
