@use 'functions' as utils;
@use 'variables' as vars;


@mixin flex-position($flex-dir: row, $justify: flex-start, $align-items: flex-start, $wrap: nowrap){
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $justify;
    align-items: $align-items;
    flex-wrap: wrap;
}

@mixin font-size-config($font_size, $line_height: normal, $font_weight: 500){
    font-size: utils.px_to_rem_converter($font_size);
    line-height: $line_height;
    font-weight: $font_weight;
}

@mixin border_config($border_width: vars.$border-width-md, $border_style: solid, $border_color, $border_radius: 0.3rem){
    border-width: utils.px_to_rem_converter($border_width);
    border-style: $border_style;
    border-color: $border_color;
    border-radius: $border_radius;
    -webkit-border-radius: $border_radius;
    -moz-border-radius: $border_radius;
    -ms-border-radius: $border_radius;
    -o-border-radius: $border_radius;
}