// Colors
$color-primary: #1b67dc;
$color-primary-dark: #003c9a;
$color-secondary: #a181fa;
$color-tone-shift: #fa8071;
$color-white: #fff;
$color-mid-tone: #b8b8b8;
$color-black: #282828;
$color-bg: #2c333f;
