@import "../../assets/styles/abstracts/variables";


.listitem-container{
	max-width: 512px;
	height: 128px;
	overflow: hidden;
	border: none;
	border-radius: 16px;
	background-color: $grayscale-g700;
	display: grid;
	grid-template-columns: auto min(1fr);
	grid-template-rows: 1fr;

	&:hover {
		cursor: pointer;

		.whenHoverBin {
			color: $base-black;
		}

		.whenHoverHeart {
			color: $primary-p900;
		}

		.whenHoverTime {
			color: $alternative-a900;
		}
	}

	&__image {
		object-fit: cover;
		width: 128px;
		height: 128px;
	}

	&__box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.middle-text {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1.5fr;
			justify-content: space-between;
			padding-left: 0.8em;

			&__title {
				color: $base-white;
				font-weight: bold;
				display: flex;
				align-items: end;
				font-size: $font-size-p;
			}

			&__latlan {
				color: $grayscale-g500;
				display: flex;
				align-items: start;
				font-size: $font-size-button-sm;
			}

			&__time{
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				font-size: 22px;

				&__value {
					color: $base-white;
					font-size: $font-size-p;
					font-weight: 600;
					display: flex;
					justify-content: center;
					align-items: center;
					padding-left: 0.5em;
				}
			}
		}
		
		.right-buttons {
			height: 100%;
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-content: center;
			padding-right: 1em;
		}
	}
}

.listitem-container:hover {
	background-color: $secondary-s500;

	.middle-text{
		&__title {
			color: $base-black;
		}

		&__latlan {
			color: $secondary-s300;
		}
		
		&__time {
			.button-icon {
				color: $secondary-s900;
			}

			&__value {
				color: $base-black;
			}
		}
	}
}
