@import '../../assets/styles/abstracts/variables';

.textLink {
    text-decoration: underline;
    color: $alternative-a500;
    padding: 0.625em 0.25em 0em 0.25em;
    border-radius: 2px;
    transition: background-color 0.3s;

    &:hover {
        background-color: $base-white;
    }

    &:focus {
        outline: none;
        background-color: $primary-p100;
    }

}

.externalIcon {
    top: -3.2px;
    margin-left: 4.8px;
    vertical-align: text-bottom;
    position: relative;
}