@use '../../assets/styles/index.scss' as abstract;


.inputFragment {
    @include abstract.flex-position(column, space-around, flex-start);

    width: 300px;
    height: 60px;
    border:2px solid red;
    gap: 0.5rem;

    &__label{
        @include abstract.font-size-config($font_size:abstract.$font-size-p ,$font_weight: 600);

    }
}